# **R-Squared Disentangled**

### Import Libraries

In [1]:
import numpy as np
import pandas as pd
import statsmodels.api as sm

pd.set_option('display.max_columns', 500)

### Import Data

In [9]:
dummy = pd.read_excel('crypto_fear_greed_data.xlsx')
dummy

           date  daily_index     sentiment  weekly_mean  montly_mean
0    2023-10-23           53       Neutral          NaN          NaN
1    2023-10-22           53       Neutral    52.857143          NaN
2    2023-10-21           63         Greed          NaN          NaN
3    2023-10-20           53       Neutral          NaN          NaN
4    2023-10-19           52       Neutral          NaN          NaN
...         ...          ...           ...          ...          ...
2083 2018-02-05           11  Extreme Fear          NaN          NaN
2084 2018-02-04           24  Extreme Fear    27.250000          NaN
2085 2018-02-03           40          Fear          NaN          NaN
2086 2018-02-02           15  Extreme Fear          NaN          NaN
2087 2018-02-01           30          Fear          NaN          NaN

[2088 rows x 5 columns]

## *R-Squared - Weekly*

In [19]:
fg = dummy.drop(['sentiment', 'montly_mean'], axis=1).set_index('date').sort_values(by='date', ascending=True)
fg['weekly_mean'] = fg['daily_index'].rolling(7).mean()
fg['sentiment'] = 0
fg['weekly_mean']
fg.loc[(fg['weekly_mean'] <= 24), 'sentiment'] = 'Extreme Fear'
fg.loc[(fg['weekly_mean'] >24) & (fg['weekly_mean'] <= 44), 'sentiment'] = 'Fear'
fg.loc[(fg['weekly_mean'] > 44) & (fg['weekly_mean'] <= 55), 'sentiment'] = 'Neutral'
fg.loc[(fg['weekly_mean'] > 55) & (fg['weekly_mean'] <= 75), 'sentiment'] = 'Greed'
fg.loc[(fg['weekly_mean'] > 75), 'sentiment'] = 'Extreme Greed'
fg.head(10)

            daily_index  weekly_mean     sentiment
date
2018-02-01           30          NaN             0
2018-02-02           15          NaN             0
2018-02-03           40          NaN             0
2018-02-04           24          NaN             0
2018-02-05           11          NaN             0
2018-02-06            8          NaN             0
2018-02-07           36    23.428571  Extreme Fear
2018-02-08           30    23.428571  Extreme Fear
2018-02-09           44    27.571429          Fear
2018-02-10           54    29.571429          Fear

In [20]:
tech = pd.read_excel('tech_signals_w.xlsx')
tech['Date'] = pd.to_datetime(tech['Date'])
tech

,Date,Adj Close,Volume,MA_1_9,MA_1_12,MA_2_9,MA_2_12,MA_3_9,MA_3_12,MOM_9,MOM_12,VOL_1_9,VOL_1_12,VOL_2_9,VOL_2_12,VOL_3_9,VOL_3_12
0,2015-03-02,274.354004,242425100,1,1,1,1,1,0,1,0,1,1,1,1,1,1
1,2015-03-09,286.393005,259502000,1,1,1,1,1,1,1,0,1,1,1,1,1,1
2,2015-03-16,267.959991,206778200,1,1,1,1,1,1,1,1,1,1,1,1,1,1
3,2015-03-23,242.712997,179497700,0,0,1,1,1,1,1,0,1,1,1,1,1,1
4,2015-03-30,260.597992,150120700,1,1,0,1,1,1,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
448,2023-10-02,27935.089844,82183775698,1,1,1,1,1,0,0,0,0,0,0,0,0,0
449,2023-10-09,27159.652344,72673654487,1,0,1,1,1,1,1,0,0,0,0,0,0,0
450,2023-10-16,29993.896484,113402383094,1,1,1,1,1,1,1,1,0,0,0,0,0,0
451,2023-10-23,33086.234375,38363572311,1,1,1,1,1,1,1,1,1,0,1,0,0,0
452,2023-10-24,33559.125000,53066547200,1,1,1,1,1,1,1,1,1,1,1,1,1,1

In [21]:
df = tech.merge(fg, how='left', left_on='Date', right_on='date')
df.dropna(inplace=True)
df.drop('daily_index', axis=1, inplace=True)
df.head()

,Date,Adj Close,Volume,MA_1_9,MA_1_12,MA_2_9,MA_2_12,MA_3_9,MA_3_12,MOM_9,MOM_12,VOL_1_9,VOL_1_12,VOL_2_9,VOL_2_12,VOL_3_9,VOL_3_12,weekly_mean,sentiment
154,2018-02-12,10551.799805,53626569728,0,0,0,0,0,0,0,0,0,0,0,0,0,0,35.000000,Fear
155,2018-02-19,9664.730469,55388419584,0,0,0,0,0,0,0,0,0,0,0,0,0,0,61.714286,Greed
156,2018-02-26,11512.599609,48902649856,1,0,0,0,0,0,0,0,0,0,0,0,0,0,44.571429,Neutral
157,2018-03-05,9578.629883,49671590400,0,0,1,0,0,0,0,0,0,0,0,0,0,0,46.428571,Neutral
158,2018-03-12,8223.679688,42075919360,0,0,0,0,0,0,0,0,0,0,0,0,0,0,41.714286,Fear

In [22]:
dummies = pd.get_dummies(df['sentiment'])
df = pd.concat([df.drop('sentiment', axis=1), dummies], axis=1)
df['Returns'] = df['Adj Close'].pct_change()
df.head(3)

,Date,Adj Close,Volume,MA_1_9,MA_1_12,MA_2_9,MA_2_12,MA_3_9,MA_3_12,MOM_9,MOM_12,VOL_1_9,VOL_1_12,VOL_2_9,VOL_2_12,VOL_3_9,VOL_3_12,weekly_mean,Extreme Fear,Extreme Greed,Fear,Greed,Neutral,Returns
154,2018-02-12,10551.799805,53626569728,0,0,0,0,0,0,0,0,0,0,0,0,0,0,35.000000,False,False,True,False,False,NaN
155,2018-02-19,9664.730469,55388419584,0,0,0,0,0,0,0,0,0,0,0,0,0,0,61.714286,False,False,False,True,False,-0.084068
156,2018-02-26,11512.599609,48902649856,1,0,0,0,0,0,0,0,0,0,0,0,0,0,44.571429,False,False,False,False,True,0.191197

In [23]:
r2 = {}

for i in range(3, 17):
    y = df['Returns'][2:df.shape[0]].values
    x = df.iloc[1:df.shape[0]-1, i].values
    x = sm.add_constant(x)  
    model = sm.OLS(y, x).fit()
    e = model.resid
    Ic = []
    for j in range(19, 24):
        r_squared = 1 - (np.sum(df.iloc[1:df.shape[0]-1, j] * e**2) / np.sum(df.iloc[1:df.shape[0]-1, j] * ((y - np.mean(y))**2)))
        Ic.append(r_squared)
    r2[df.columns[i]] = Ic

In [24]:
r2_df = pd.DataFrame(r2)
r2_df = r2_df.T 
r2_df.columns = ['Extreme Fear', 'Fear', 'Neutral', 'Greed', 'Extreme Greed']
r2_df

          Extreme Fear      Fear   Neutral     Greed  Extreme Greed
MA_1_9        0.015701  0.020865 -0.002592  0.001449       0.123195
MA_1_12       0.015113  0.017328  0.000718  0.018895       0.075705
MA_2_9        0.011619  0.015431  0.000477 -0.008753       0.124772
MA_2_12       0.012279  0.007259 -0.000730  0.019585       0.065528
MA_3_9        0.029309  0.017643  0.013193 -0.012971       0.138827
MA_3_12       0.020161 -0.003588  0.011833  0.012394       0.052730
MOM_9         0.032612  0.008806  0.028802  0.016417       0.092521
MOM_12        0.024311  0.014658 -0.011579  0.026187       0.097266
VOL_1_9       0.013614  0.008129  0.022747  0.003953       0.123887
VOL_1_12      0.009804 -0.001340  0.008684  0.008030       0.042497
VOL_2_9       0.005709  0.000601 -0.001501  0.004384       0.043652
VOL_2_12      0.002352 -0.000774 -0.000599  0.002135       0.014952
VOL_3_9       0.003892  0.000199  0.000874 -0.000322       0.032858
VOL_3_12      0.006640 -0.001158  0.007638  0.000873       0.013696