# **R-Squared Disentangled**

### Import Libraries

In [14]:
import numpy as np
import pandas as pd
import statsmodels.api as sm

pd.set_option('display.max_columns', 500)

### Import Data

In [15]:
dummy = pd.read_excel('../../Dados/result_PCA_indicador_dia.xlsx')
dummy

           Data  daily_index  Sentiment Score  PCA_Normalized
0    2023-06-30           56         0.131037       57.099674
1    2023-06-29           54         0.192296       54.899763
2    2023-06-28           62         0.095973       63.699619
3    2023-06-27           59         0.139035       60.399683
4    2023-06-26           55         0.195269       55.999767
...         ...          ...              ...             ...
1960 2018-02-05           11         0.090658        7.599657
1961 2018-02-04           24         0.017391       21.899541
1962 2018-02-03           40         0.350227       39.500001
1963 2018-02-02           15         0.092335       11.999656
1964 2018-02-01           30         0.011285       28.499527

[1965 rows x 4 columns]

## *R-Squared*

In [16]:
fg = dummy.drop(['daily_index', 'Sentiment Score'], axis=1).set_index('Data').sort_values(by='Data', ascending=True)
fg['weekly_mean'] = fg['PCA_Normalized'].rolling(7).mean()
fg['sentiment'] = 0

fg.loc[(fg['weekly_mean'] <= 44), 'sentiment'] = 'Fear'
fg.loc[(fg['weekly_mean'] > 44) & (fg['weekly_mean'] <= 55), 'sentiment'] = 'Neutral'
fg.loc[(fg['weekly_mean'] > 56), 'sentiment'] = 'Greed'

# fg.loc[(fg['weekly_mean'] <= 44), 'sentiment'] = 'Fear'
# fg.loc[(fg['weekly_mean'] > 44) & (fg['weekly_mean'] <= 55), 'sentiment'] = 'Neutral'
# fg.loc[fg['weekly_mean'] > 55, 'sentiment'] = 'Greed'

# fg.loc[(fg['weekly_mean'] <= 50), 'sentiment'] = 'Fear'
# fg.loc[(fg['weekly_mean'] > 50), 'sentiment'] = 'Greed'

# fg.loc[(fg['weekly_mean'] > 24) & (fg['weekly_mean'] <= 75), 'sentiment'] = 'Neutral'
# fg.loc[(fg['weekly_mean'] <= 24) | (fg['weekly_mean'] > 75), 'sentiment'] = 'Extreme'

fg

            PCA_Normalized  weekly_mean sentiment
Data
2018-02-01       28.499527          NaN         0
2018-02-02       11.999656          NaN         0
2018-02-03       39.500001          NaN         0
2018-02-04       21.899541          NaN         0
2018-02-05        7.599657          NaN         0
...                    ...          ...       ...
2023-06-26       55.999767    61.342569     Greed
2023-06-27       60.399683    62.913969     Greed
2023-06-28       63.699619    63.385373     Greed
2023-06-29       54.899763    61.656829     Greed
2023-06-30       57.099674    60.242515     Greed

[1965 rows x 3 columns]

In [17]:
tech = pd.read_excel('../../Dados/tech_signals_w.xlsx')
tech['Date'] = pd.to_datetime(tech['Date'])
tech

,Date,Adj Close,Volume,MA_1_9,MA_1_12,MA_2_9,MA_2_12,MA_3_9,MA_3_12,MOM_9,MOM_12,VOL_1_9,VOL_1_12,VOL_2_9,VOL_2_12,VOL_3_9,VOL_3_12
0,2015-03-02,274.354004,242425100,1,1,1,1,1,0,1,0,1,1,1,1,1,1
1,2015-03-09,286.393005,259502000,1,1,1,1,1,1,1,0,1,1,1,1,1,1
2,2015-03-16,267.959991,206778200,1,1,1,1,1,1,1,1,1,1,1,1,1,1
3,2015-03-23,242.712997,179497700,0,0,1,1,1,1,1,0,1,1,1,1,1,1
4,2015-03-30,260.597992,150120700,1,1,0,1,1,1,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
448,2023-10-02,27935.089844,82183775698,1,1,1,1,1,0,0,0,0,0,0,0,0,0
449,2023-10-09,27159.652344,72673654487,1,0,1,1,1,1,1,0,0,0,0,0,0,0
450,2023-10-16,29993.896484,113402383094,1,1,1,1,1,1,1,1,0,0,0,0,0,0
451,2023-10-23,33086.234375,38363572311,1,1,1,1,1,1,1,1,1,0,1,0,0,0
452,2023-10-24,33559.125000,53066547200,1,1,1,1,1,1,1,1,1,1,1,1,1,1

In [18]:
df = tech.merge(fg, how='left', left_on='Date', right_on='Data')
df.dropna(inplace=True)
df.drop('PCA_Normalized', axis=1, inplace=True)
df

,Date,Adj Close,Volume,MA_1_9,MA_1_12,MA_2_9,MA_2_12,MA_3_9,MA_3_12,MOM_9,MOM_12,VOL_1_9,VOL_1_12,VOL_2_9,VOL_2_12,VOL_3_9,VOL_3_12,weekly_mean,sentiment
154,2018-02-12,10551.799805,53626569728,0,0,0,0,0,0,0,0,0,0,0,0,0,0,33.999736,Fear
155,2018-02-19,9664.730469,55388419584,0,0,0,0,0,0,0,0,0,0,0,0,0,0,63.385416,Greed
156,2018-02-26,11512.599609,48902649856,1,0,0,0,0,0,0,0,0,0,0,0,0,0,44.528131,Neutral
157,2018-03-05,9578.629883,49671590400,0,0,1,0,0,0,0,0,0,0,0,0,0,0,46.570830,Neutral
158,2018-03-12,8223.679688,42075919360,0,0,0,0,0,0,0,0,0,0,0,0,0,0,41.385200,Fear
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
430,2023-05-29,27119.066406,91351657572,0,0,0,0,0,0,0,0,0,0,0,0,0,0,50.499777,Neutral
431,2023-06-05,25940.167969,116498927148,0,0,0,0,0,0,0,0,0,0,0,0,0,0,52.385402,Neutral
432,2023-06-12,26336.212891,92905085602,0,0,0,0,0,0,0,0,0,0,0,0,0,0,48.928165,Neutral
433,2023-06-19,30480.261719,138005623534,1,1,1,1,0,0,1,1,1,1,0,0,0,0,46.099552,Neutral
434,2023-06-26,30620.769531,106681707513,1,1,1,1,1,1,1,1,1,1,1,1,1,0,61.342569,Greed

In [19]:
rf = pd.read_excel('../../Dados/risk_free_d.xlsx')
rf['r_free_day'] = rf['r_free_day'].ffill()
rf['r_free_w'] = rf['r_free_day'].rolling(7).mean()
rf = rf[['observation_date', 'r_free_w']]
rf['observation_date'] = pd.to_datetime(rf['observation_date'])
rf.head(10)

  observation_date  r_free_w
0       2018-11-06       NaN
1       2018-11-07       NaN
2       2018-11-08       NaN
3       2018-11-09       NaN
4       2018-11-12       NaN
5       2018-11-13       NaN
6       2018-11-14  0.000087
7       2018-11-15  0.000087
8       2018-11-16  0.000087
9       2018-11-19  0.000087

In [20]:
dummies = pd.get_dummies(df['sentiment'])
df = pd.concat([df.drop('sentiment', axis=1), dummies], axis=1)
df['Any'] = [True]*len(df)
df['Returns'] = df['Adj Close'].pct_change()
df = df.merge(rf, how='left', left_on='Date', right_on='observation_date').dropna()
df.drop('observation_date', axis=1, inplace=True)
df['risk_premium'] = df['Returns'] - df['r_free_w']
df.head(10)

,Date,Adj Close,Volume,MA_1_9,MA_1_12,MA_2_9,MA_2_12,MA_3_9,MA_3_12,MOM_9,MOM_12,VOL_1_9,VOL_1_12,VOL_2_9,VOL_2_12,VOL_3_9,VOL_3_12,weekly_mean,0,Fear,Greed,Neutral,Any,Returns,r_free_w,risk_premium
39,2018-11-19,4009.969971,42533970000,0,0,0,0,0,0,0,0,0,0,0,0,0,0,32.271121,False,True,False,False,True,-0.286931,0.000087,-0.287019
40,2018-11-26,4139.877930,42945276472,0,0,0,0,0,0,0,0,0,0,0,0,0,0,11.685265,False,True,False,False,True,0.032396,0.000088,0.032308
41,2018-12-03,3614.234375,38386467708,0,0,0,0,0,0,0,0,0,0,0,0,0,0,12.313996,False,True,False,False,True,-0.126971,0.000090,-0.127061
42,2018-12-10,3252.839111,29869247431,0,0,0,0,0,0,0,0,0,0,0,0,0,0,11.056732,False,True,False,False,True,-0.099992,0.000092,-0.100084
43,2018-12-17,3998.980225,46021506218,0,0,0,0,0,0,0,0,0,0,0,0,0,0,10.270987,False,True,False,False,True,0.229381,0.000091,0.229290
44,2018-12-24,3865.952637,39249734918,0,0,0,0,0,0,0,0,0,0,0,0,0,0,25.356855,False,True,False,False,True,-0.033265,0.000093,-0.033359
45,2018-12-31,4076.632568,34343716582,0,0,0,0,0,0,0,0,0,0,0,0,0,0,24.099564,False,True,False,False,True,0.054496,0.000095,0.054401
46,2019-01-07,3552.953125,37523454177,0,0,0,0,0,0,0,0,0,0,0,0,0,0,33.371148,False,True,False,False,True,-0.128459,0.000095,-0.128554
47,2019-01-14,3601.013672,38588596987,0,0,0,0,0,0,0,0,1,0,0,0,0,0,26.299654,False,True,False,False,True,0.013527,0.000095,0.013432
48,2019-01-21,3583.965820,36949379050,0,0,0,0,0,0,0,0,0,0,0,0,0,0,27.556807,False,True,False,False,True,-0.004734,0.000094,-0.004829

In [21]:
df[0]

39     False
40     False
41     False
42     False
43     False
       ...
273    False
274    False
275    False
276    False
277    False
Name: 0, Length: 239, dtype: bool

In [22]:
r2 = {}

for i in range(3, 17):
    y = df['risk_premium'][1:df.shape[0]].values
    x = df.iloc[0:df.shape[0]-1, i].values
    x = sm.add_constant(x)  
    model = sm.OLS(y, x).fit()
    e = model.resid
    Ic = []
    for j in range(19, 23):
        r_squared = 1 - (np.sum(df.iloc[1:df.shape[0], j] * e**2) / np.sum(df.iloc[1:df.shape[0], j] * ((y - np.mean(y))**2)))
        Ic.append(r_squared)
    r2[df.columns[i]] = Ic

In [23]:
r2_df = pd.DataFrame(r2)
r2_df = r2_df.T 
r2_df.columns = ['Fear', 'Greed', 'Neutral', 'Any']
r2_df

              Fear     Greed   Neutral       Any
MA_1_9    0.024646  0.017524  0.006231  0.018716
MA_1_12   0.007218  0.015761  0.012831  0.010001
MA_2_9    0.006090  0.014130  0.010442  0.008623
MA_2_12   0.006979  0.013712  0.004422  0.008304
MA_3_9   -0.001901  0.026310  0.024402  0.010102
MA_3_12  -0.004405  0.023160  0.017909  0.007098
MOM_9     0.010184  0.044276  0.042114  0.021038
MOM_12    0.001486  0.011144 -0.002622  0.003946
VOL_1_9   0.005246  0.023010  0.056973  0.017633
VOL_1_12  0.002602  0.012495  0.037167  0.009287
VOL_2_9  -0.001995  0.005447  0.001044  0.000785
VOL_2_12 -0.002661  0.008957  0.013845  0.002938
VOL_3_9  -0.001204  0.011662 -0.008495  0.001369
VOL_3_12  0.006968  0.019286 -0.011645  0.006653