In [2]:
import pandas as pd
import numpy as np
from scipy import stats
import statsmodels.api as sm

In [3]:
sp_tech = pd.read_excel("C:/Users/limam/Documents/GitHub/Datathon_2023/Dados/sinais_ind_tecnicos.xlsx")

In [4]:
sp_tech

,Date,Adj Close,Volume,MA_1_9,MA_1_12,MA_2_9,MA_2_12,MA_3_9,MA_3_12,MOM_9,MOM_12,VOL_1_9,VOL_1_12,VOL_2_9,VOL_2_12,VOL_3_9,VOL_3_12
0,2015-03-02,274.354004,242425100,1,1,1,1,1,0,1,0,1,1,1,1,1,1
1,2015-03-09,286.393005,259502000,1,1,1,1,1,1,1,0,1,1,1,1,1,1
2,2015-03-16,267.959991,206778200,1,1,1,1,1,1,1,1,1,1,1,1,1,1
3,2015-03-23,242.712997,179497700,0,0,1,1,1,1,1,0,1,1,1,1,1,1
4,2015-03-30,260.597992,150120700,1,1,0,1,1,1,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
448,2023-10-02,27935.089844,82183775698,1,1,1,1,1,0,0,0,0,0,0,0,0,0
449,2023-10-09,27159.652344,72673654487,1,0,1,1,1,1,1,0,0,0,0,0,0,0
450,2023-10-16,29993.896484,113402383094,1,1,1,1,1,1,1,1,0,0,0,0,0,0
451,2023-10-23,33086.234375,38363572311,1,1,1,1,1,1,1,1,1,0,1,0,0,0
452,2023-10-24,33559.125000,53066547200,1,1,1,1,1,1,1,1,1,1,1,1,1,1

In [5]:
import pandas as pd
import numpy as np
import statsmodels.api as sm

# Read the Excel file into a pandas DataFrame
sp_tech = pd.read_excel("C:/Users/limam/Documents/GitHub/Datathon_2023/Dados/sinais_ind_tecnicos.xlsx")

# Handle NaN values for 'Adj Close', perhaps with forward fill or dropna:
sp_tech['Adj Close'].fillna(method='ffill', inplace=True)

# Calculate the percentage returns of the 'Adj Close' column
sp_tech['return'] = sp_tech['Adj Close'].pct_change().fillna(0)

# Initialization
n = 14  # Number of technical indicators
t = len(sp_tech)
initial_period = 150  # Initial period for the first regression
summaries = []  # To store summary objects for later use

# Arrays to store predictions and errors
predictions = np.zeros((t - initial_period, n))
errors = np.zeros((t - initial_period, n))

# Loop for rolling regression
for i in range(n):
    # The dependent variable (Y)
    Y = sp_tech['return'].values
    
    # Loop to perform rolling regression and predictions
    for current_t in range(initial_period, len(Y)):
        # The independent variable (X)
        X = sp_tech.iloc[0:current_t, 3 + i].values  # Use data from the beginning up to the current time
        X = sm.add_constant(X)  # Add the intercept
        
        # Perform regression
        model = sm.OLS(Y[0:current_t], X).fit()

        # Make prediction for the next value if we're not at the end of the dataset
        if current_t < len(Y) - 1:
            
            next_x = np.array([[1, sp_tech.iloc[current_t + 1, 3 + i]]])  # Prepare next X value as a 2D array 
            predicted_value = model.predict(next_x)[0]
            predictions[current_t - initial_period, i] = predicted_value
            
            # Calculate and store the error of the prediction
            actual_value = Y[current_t + 1]
            error = actual_value - predicted_value
            errors[current_t - initial_period, i] = error
        #print(current_t)
    
    summaries.append(model.summary())

# The 'predictions' array contains the predicted values for each technical indicator
# The 'errors' array contains the prediction errors for each technical indicator

In [22]:
summaries[0]

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.162
Model:                            OLS   Adj. R-squared:                  0.160
Method:                 Least Squares   F-statistic:                     86.74
Date:                Wed, 08 Nov 2023   Prob (F-statistic):           5.52e-19
Time:                        13:14:29   Log-Likelihood:                 438.74
No. Observations:                 452   AIC:                            -873.5
Df Residuals:                     450   BIC:                            -865.3
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         -0.0310      0.007     -4.685      0.000      -0.044      -0.018
x1             0.0814      0.009      9.314      0.000       0.064       0.099
==============================================================================
Omnibus:                       19.801   Durbin-Watson:                   1.982
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               50.941
Skew:                           0.067   Prob(JB):                     8.67e-12
Kurtosis:                       4.639   Cond. No.                         2.83
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [21]:
summaries[1]

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.132
Model:                            OLS   Adj. R-squared:                  0.130
Method:                 Least Squares   F-statistic:                     68.23
Date:                Wed, 08 Nov 2023   Prob (F-statistic):           1.64e-15
Time:                        13:14:29   Log-Likelihood:                 430.81
No. Observations:                 452   AIC:                            -857.6
Df Residuals:                     450   BIC:                            -849.4
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         -0.0264      0.007     -3.928      0.000      -0.040      -0.013
x1             0.0734      0.009      8.260      0.000       0.056       0.091
==============================================================================
Omnibus:                       18.577   Durbin-Watson:                   1.957
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               45.131
Skew:                           0.082   Prob(JB):                     1.58e-10
Kurtosis:                       4.539   Cond. No.                         2.83
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [8]:
Predicted = pd.DataFrame(predictions)
Predicted

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,-0.034135,-0.025165,0.004015,0.000326,0.014479,0.005522,0.042923,0.040582,0.051804,0.046467,0.003681,0.041395,0.038509,0.039489
1,-0.037387,-0.028952,-0.000606,0.000326,0.014479,0.005522,-0.012711,0.038916,-0.024641,-0.013011,0.003681,0.039649,0.013949,0.037744
2,-0.036017,-0.027702,-0.000143,0.000776,0.014520,0.005832,-0.012711,-0.000604,-0.024641,-0.013011,0.003969,0.002480,0.013949,0.009122
3,-0.042560,-0.035000,-0.008186,-0.007517,0.006513,-0.002842,-0.021905,-0.000604,-0.030992,-0.020504,-0.002889,0.002480,0.006528,0.009122
4,-0.041955,-0.034547,-0.008438,-0.007794,0.005906,-0.003256,-0.021776,-0.001124,-0.030692,-0.020434,-0.003219,0.001947,0.005963,0.008432
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,0.050477,-0.026431,0.037665,0.035885,0.031849,0.032089,0.037106,-0.008309,-0.027574,-0.021504,-0.009888,-0.007322,-0.003084,-0.000120
299,0.050273,0.046560,0.037512,0.035739,0.031718,0.032089,0.037106,0.031449,-0.027435,-0.021393,-0.009844,-0.007290,-0.003077,-0.000129
300,0.049969,0.046560,0.037259,0.035495,0.031486,0.031858,0.036867,0.031449,0.045604,-0.021428,0.033328,-0.007406,-0.003206,-0.000282
301,0.050180,0.046784,0.037518,0.035759,0.031769,0.032137,0.037115,0.031721,0.045604,0.039480,0.033328,0.029806,0.028864,0.025704
302,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [7]:
Erro = pd.DataFrame(errors)
Erro

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,0.050187,0.041217,0.012037,0.015725,0.001573,0.010530,-0.026871,-0.024531,-0.035752,-0.030416,0.012371,-0.025343,-0.022457,-0.023437
1,-0.260356,-0.268791,-0.297137,-0.298069,-0.312222,-0.303265,-0.285032,-0.336659,-0.273102,-0.284732,-0.301424,-0.337392,-0.311692,-0.335487
2,0.018252,0.009937,-0.017622,-0.018540,-0.032285,-0.023596,-0.005054,-0.017161,0.006876,-0.004753,-0.021733,-0.020245,-0.031714,-0.026887
3,0.340449,0.332889,0.306075,0.305406,0.291376,0.300731,0.319795,0.298493,0.328881,0.318393,0.300778,0.295409,0.291361,0.288767
4,-0.042113,-0.049522,-0.075630,-0.076274,-0.089974,-0.080812,-0.062292,-0.082944,-0.053377,-0.063634,-0.080849,-0.086015,-0.090031,-0.092501
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,-0.078236,-0.001327,-0.065424,-0.063643,-0.059608,-0.059848,-0.064864,-0.019450,-0.000185,-0.006255,-0.017871,-0.020437,-0.024675,-0.027639
299,0.054082,0.057795,0.066843,0.068616,0.072637,0.072266,0.067249,0.072906,0.131790,0.125748,0.114199,0.111645,0.107432,0.104484
300,0.053129,0.056539,0.065840,0.067604,0.071613,0.071241,0.066231,0.071650,0.057495,0.124527,0.069771,0.110505,0.106305,0.103381
301,-0.035888,-0.032491,-0.023225,-0.021466,-0.017476,-0.017844,-0.022822,-0.017428,-0.031312,-0.025187,-0.019035,-0.015513,-0.014571,-0.011411
302,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [ ]:
# Calculo do R²

In [18]:
# Calculate the sum of squared errors for the predictive model

# Calculate the sum of squared errors for the historical average
actual_returns = sp_tech['return'].values[initial_period:]

# Calculate the historical average of returns up to each prediction point
historical_average = np.array([sp_tech['return'][:t].mean() for t in range(initial_period, len(sp_tech))])

# Initialize a list to store the R^2_OS for each technical indicator
r_squared_os_values = []

# Loop over each of the 14 technical indicators
for i in range(n):
    # Calculate the sum of squared errors for the predictive model
    sse_model = np.sum((actual_returns - predictions[:, i]) ** 2)

    # Calculate the sum of squared errors for the historical average
    sse_historical = np.sum((actual_returns - historical_average) ** 2)

    # Calculate the out-of-sample R squared (R^2_OS) for this technical indicator
    r_squared_os = 1 - (sse_model / sse_historical)
    
    # Store the R^2_OS value in the list
    r_squared_os_values.append(r_squared_os)

    # Print the R^2_OS for the current technical indicator
    print(f"Out-of-Sample R² for technical indicator {i+1}: {r_squared_os}")

Out-of-Sample R² for technical indicator 1: 0.15435517956896694
Out-of-Sample R² for technical indicator 2: 0.15018244358879373
Out-of-Sample R² for technical indicator 3: 0.15270650119934615
Out-of-Sample R² for technical indicator 4: 0.13853434833669087
Out-of-Sample R² for technical indicator 5: 0.09201135711844721
Out-of-Sample R² for technical indicator 6: 0.085690022937015
Out-of-Sample R² for technical indicator 7: 0.07822810943356606
Out-of-Sample R² for technical indicator 8: 0.06938268975109096
Out-of-Sample R² for technical indicator 9: 0.12341470358896645
Out-of-Sample R² for technical indicator 10: 0.1283592345901038
Out-of-Sample R² for technical indicator 11: 0.1372418479855242
Out-of-Sample R² for technical indicator 12: 0.1021357900085974
Out-of-Sample R² for technical indicator 13: 0.08515577403506092
Out-of-Sample R² for technical indicator 14: 0.05785683136583042